fastapi==0.116.1 # It is used for building APIs with Python 3.7+ based on standard Python type hints.
pydantic==2.11.7 # It is used for data validation and settings management.
uvicorn==0.35.0 # It is an ASGI server for running FastAPI applications.